*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
# Firebase config
app/google-services.json

unsigned_chat_avatar: upload preset
dq6ygkf8k cloud: name
491949431175665: apikey cloudinary
BXDDju_5zuzbZtmwL78h6yxyb_k: api secret


